.component_container {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 160px;
    top: 62px;
    background-color: #fff;
    display: flex;
    overflow-y: scroll;
    padding: 5px;
    box-sizing: border-box;
}