/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';

@font-face {
    font-family: poppins_reg;
    src: url("assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: poppins_bold;
    src: url("assets/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: poppins_light;
    src: url("assets/fonts/Poppins-Light.ttf");
}



:root {
    --orange: #de4313;
    --orange_light: #de4313;
    --orange_dark: #f6416c;
    --brand_color: #fdbb4f;
}

* {
    padding: 0;
    margin: 0;
    font-family: poppins_reg, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*::-webkit-scrollbar-track {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar {
    visibility: hidden;
    width: 8px;
    height: 0;
}

*::-webkit-scrollbar-thumb {
    opacity: 0;
    background-color: var(--orange);
    border-radius: 10px;
}

a {
    text-decoration: none;
}

i {
    margin-right: 10px;
}

a:active,
button:active,
.click_effect:active {
    transform: scale(0.95);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    user-select: none;
    cursor: pointer;
}

a,
button {
    cursor: pointer;
}

.box {
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 4px 1px #ddd;
    margin: 10px;
}

.box .box_body {
    display: flex;
    align-items: center;
}

textarea {
    outline: none;
    border: none;
    width: 100%;
    resize: both;
    background-color: transparent;
}


.fade-in {
    animation-name: fade-in;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.55, 0.01, 0.12, 0.97);
}

.entering-animation {
    animation-name: sorting;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 0.6s;
}

.left-to-right {
    animation-name: left-to-right;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.6, 0.01, 0.18, 1);
}

.right-to-left {
    animation-name: right-to-left;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.6, 0.01, 0.18, 1);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes right-to-left {
    from {
        transform: translateX(100vh);
    }

    to {
        transform: translateX(0vh);
    }
}

@keyframes left-to-right {
    from {
        transform: translateX(-100vh);
    }

    to {
        transform: translateX(0vh);

    }
}


@keyframes sorting {
    from {
        transform: scale(0);

    }

    to {
        transform: scale(1);
    }
}

/* all the aniations */
@keyframes top-bottom-animate {
    from {
        transform: translateY(-100vh);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes bottom-top-animate {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes right-to-left {
    from {
        transform: translateX(100vh);
    }

    to {
        transform: translateX(0vh);
    }
}

@keyframes left-to-right {
    from {
        transform: translateX(-100vh);
    }

    to {
        transform: translateX(0vh);

    }
}